.container {
  background-color: #993399;
  width: 80%;
  color: white;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
}
ul {
  list-style: none;
}

.containerBox {
  border: 1px solid white;
  width: 50%;
  border-radius: 1rem;
  margin-left: 1rem;
  background-color: #eee;
  margin-bottom: 1rem;
  color: #993399;
}
.containerBox ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: auto;
}

.btn {
  border-radius: 5px;
  height: 3rem;
  color: white;
  background-color: #9966cc;
  margin-left: 1rem;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  margin-right: 1rem;
}
